<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Example</title>
</head>
<body>
    <h3>Github API</h3>
    <form method="POST">
        <input type="text" name="username" required>
        <input type="submit" value="Get Github Info" class="btn btn-bg"></input>
        {% csrf_token %}
    </form>
    {% if user %}
    <p>username: {{ user.login }}</p>
    <p>URL: {{ user.html_url }}</p>
    <p>Repos: {{ user.public_repos }}</p>
    {% endif %}
</body>
</html>